body {
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* slider-start-here */

.slider-container {
    margin: 0;
    padding: 0;
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: 550px;
    overflow: hidden;
    font-family: 'Pacifico', cursive;
}
.slide {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 1s;
}

.slide.active{
    opacity: 1;
    transition: 1s;
}

.slide-text {
    position: absolute;
    opacity: 0;
    top: 85%;
    left: 85%;
    transition: 2s;
    z-index: 10;
    transform: translate(-50%, -50%);
}
.slide-text.active{
    opacity: 1;
    transition: 1s;
}
.slide-prev-button {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 3%;
    transition: 2s;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    background: rgb(0, 0, 0);
    opacity: 0.5;
    color: white;
    font-size: 35px;
}
.slide-prev-button:hover {
    opacity: 1;
    transition: 2s;
}
.slide-next-button {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    right: 3%;
    color: white;
    justify-items: center;
    transition: 3s;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    border-radius: 8px ;
    opacity: 0.5;
    font-size: 35px;
}
.slide-next-button:hover {
    opacity: 1;
    transition: 3s;
    border-radius: 10px ;
}
.slider-container h1 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px rgb(0, 0, 0), 0 0 5px rgb(1, 1, 12);
     
}

/* slider-ends-here */

/*Jumbotron Starts HERE! */

.jumbotron {
    background-color: white;
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;   
    transform: translate(50%,-50%);
    top: 60px;
    left: -50%;
    display: block;

}
 .jumbotron ul {
    position: absolute;
    list-style: none;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    top: 65%;
    right: 0%;
}
ul li {
    color: black;
    float: right;
    width: 150px;
    height: 20px;
    line-height: 80px;
    text-align: center;
    font-size: 15px;
    
    }

ul li a {
    text-decoration: none;
    color: rgb(4, 32, 29);
    font-size: 20px;
} 
ul li a:hover {
    text-decoration: none;
    color: tomato;
} 

.jumbotron img {
    top: 10%;
    left: 0%;
    position: absolute;
    width: 300px;
    height: 130px;
    opacity: 1;
    z-index: -10;
}

ul li ul li {
        display: none;
        position: absolute;
        color: rgb(247, 136, 62);
        margin: 0;
        padding: 0; 
}
li ul a {
    color: white;
    display: block;
    padding: 6px;
    position: relative;
    text-decoration: none;
    background: gray;
    border-radius: 3px;
  }
  /*Jumbotron ENDS HERE! */
  /*card*/
  .container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 126px;
  }
  .card .col-sm-12 {
    position: absolute;
    font-family: 'Righteous', cursive;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
  }
  .col-sm-12 h1{
      position: absolute;
      left: 38%;
      top: 95px;
  }
  .container-hizmet h4{
    font-family: 'Righteous', cursive;
  }
  .card-img-top {
    border-radius: 8px;
    overflow: hidden;

  }
  .card {
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgb(200, 204, 200);
    opacity: 0.9;
    border-bottom: 5px solid rgb(110, 77, 27);
     
  }
  .card:hover {
    box-shadow: -5px -5px 10px 10px #777474;
    transition-duration: 1.0s;
    opacity: 1;
  }
  .card-img-top:hover {
    box-shadow: -5px -5px 5px 5px #777474;
    transform: scale(1.10);
    transition-duration: 3s;
    opacity: 1;
}
.card p {
    font-family: 'Bree Serif', serif;
}
.card .card-button {
    position: absolute;
    background-color: rgb(110, 77, 27);
    border: 1px solid rgb(110, 77, 27);
    color: white;
    width: 180px;
    height: 35px;
    transform: translate(-50%,-50%);
    left: 50%;
    bottom: -35px;
    border-radius: 7px;
}
.card .card-button:hover {
    background-color: rgb(59, 26, 7);
    transition: 1s;
    
}
  /*Cards End*/
  /*SPACE START*/
  .space {
      position: relative;
      width: 100%;
      height: 220px;
      text-align: center;
  }
  .space h1 {
    position: absolute;
    top: 40%;
    left: 38%;
    font-family: 'Bree Serif', serif;
    text-transform: uppercase;
     color:rgb(51, 35, 9);
     text-shadow : 0 0 1px rgb(0, 0, 0), 0 0 3px rgb(1, 1, 12);  
}
/*SPACE END */
/* FOOTER START  */
.footer {
    position: relative;
    background: #ffffff;
    color: rgb(0, 0, 0);
    height: 400px;
}
.footer .footer-content {
    border: 2px solid rgb(0, 0, 0);
    height: 350px;

}
.footer .footer-bottom {
    position: absolute;
    background: #343a40;
    color: #c2c2c2;
    height: 50px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 15px;
}
 .about {
    position: absolute;
    height: 300px;
    top: 10%;
    left: 20%;
    width: 350px;
    cursor: pointer;
    
}
.about h1 {  
    
    width: 100%;
    left: 150px;
    font-family: 'Bree Serif', serif;
}
.cats {
    position: absolute;
    height: 300px;
    top: 10%;
    left: 45%;
    width: 350px;
    cursor: pointer;
}
.cats h1 {
    font-family: 'Bree Serif', serif;
}
.call-center {
    position: absolute;
    height: 300px;
    top: 10%;
    left: 65%;
    width: 350px;
    cursor: pointer;
}
.call-center h2 {
    position: absolute;
    font-family: 'Bree Serif', serif;
    top: 65%;
    color: tomato;
    transition: 2s;
}
.call-center h2:hover {
    color: rgb(68, 4, 65);
    transition: 2s;
}
.line1 {
    position: absolute;
    width: 10%;
    height: 5px;
    border-radius: 1.5px;
    background-color: rgb(0, 0, 0);
    transition: .7s;
}
.line1:hover {
    width: 100%;
    height: 5px;
    transform: scaleX(1);
    transition: 1.5s;
}
.footer ul {
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    top: 20%;
    transition: 2s;
}
.footer ul li {
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
    height: 60px;
    text-align: left;
    font-size: 20px;
    left: 50%; 
    transition: 2s;   
}
.footer ul li:hover {
    color: tomato;
    transition: 2s;
    transform: scale(1.05);
}
.footer img {
    left: 0%;
    width: 300px;
    height: 160px;
    opacity: 0.3;
    z-index: -10;
}
/*FOOTER END HERE */